// COLORS

$background-main: #fff;
$background-foot: #303030;
$brand-color: #0182f9;
$text-color: #000;
$link-color: #4d4f50;
$title-comics-color: #ad9653;

//TYPOGRAPH
$main-font: "Montserrat", sans-serif;
